<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- headlinks removed -->
	<link rel="shortcut icon" href="../../../../misc/favicon.ico"/>
    <title>Template:Mediawiki - Phaserwiki</title>
    <style type="text/css">/*<![CDATA[*/ @import "../../../../skins/offline/main.css"; /*]]>*/</style>
    <link rel="stylesheet" type="text/css" media="print" href="../../../../skins/common/commonPrint.css" />
    <!--[if lt IE 5.5000]><style type="text/css">@import "../../../../skins/monobook/IE50Fixes.css";</style><![endif]-->
    <!--[if IE 5.5000]><style type="text/css">@import "../../../../skins/monobook/IE55Fixes.css";</style><![endif]-->
    <!--[if IE 6]><style type="text/css">@import "../../../../skins/monobook/IE60Fixes.css";</style><![endif]-->
    <!--[if IE]><script type="text/javascript" src="../../../../skins/common/IEFixes.js"></script>
    <meta http-equiv="imagetoolbar" content="no" /><![endif]-->
    <script type="text/javascript" src="../../../../skins/common/wikibits.js"></script>
    <script type="text/javascript" src="../../../../skins/offline/md5.js"></script>
    <script type="text/javascript" src="../../../../skins/offline/utf8.js"></script>
    <script type="text/javascript" src="../../../../skins/offline/lookup.js"></script>
    <script type="text/javascript" src="../../../../raw/gen.js"></script>                  </head>
  <body
    class="ns-10 ns-subject page-Template_Mediawiki">
    <div id="globalWrapper">
      <div id="column-content">
	<div id="content">
	  <a name="top:  .. _contentTop"></a>
	        <h1 class="firstHeading">Template:Mediawiki</h1>
	  <div id="bodyContent">
	    <h3 id="siteSub">From Phaserwiki</h3>
	    <div id="contentSub"></div>
	    	    	    <!-- start content -->
	    <p>{{ #ifeq:
</p>
<pre> localhost
</pre>
<p>| www.mediawiki.org
| [[{{{1}}}|{{{1}}}]]
| <a href="http://www.mediawiki.org/wiki/%7B%7B%7B1%7D%7D%7D" class="external text" title="http://www.mediawiki.org/wiki/%7B%7B%7B1%7D%7D%7D" rel="nofollow">{{{1}}}</a>
}}
</p>
<hr />
<p>This template links to a page on  from the <a href="../../../../articles/c/o/n/Help%7EContents_22de.html" title="Help:Contents">Help pages</a>. The template has two parameters:
</p>
<ol><li> Pagename, optionally preceded by an interwiki link prefix valid on mediawiki.org
</li><li> (optional) Link description
</li></ol>
<p>{{ #ifeq:
localhost
| www.mediawiki.org
| This is so that the public domain help pages - which can be freely copied and included in other sites - have correct links to Mediawiki:
</p>
<ul><li> on external sites, it creates an external link
</li><li> on Mediawiki, it creates an internal or interwiki link
</li></ul>
<p><b>All</b> links from the Help namespace to other parts of the mediawiki.org wiki should use this template.}}
</p><p>Demo of interwiki link:
</p><p>
{{mediawiki|m:Help:Calculation|Help:Calculation}} gives either [[m:Help:Calculation|Help:Calculation]] or [http://www.mediawiki.org/wiki/m%3AHelp%3ACalculation Help:Calculation], rendered as Help:Calculation or <a href="http://www.mediawiki.org/wiki/m%3AHelp%3ACalculation" class="external text" title="http://www.mediawiki.org/wiki/m%3AHelp%3ACalculation" rel="nofollow">Help:Calculation</a>, respectively.
</p>
<!-- 
NewPP limit report
Preprocessor node count: 18/1000000
Post-expand include size: 37/2097152 bytes
Template argument size: 0/2097152 bytes
Expensive parser function count: 0/100
-->
<div class="printfooter">
</div>
	    <div id="catlinks"><div id='catlinks' class='catlinks'><div id="mw-normal-catlinks"><a href="../../../../articles/c/a/t/Special%7ECategories_101d.html" title="Special:Categories">Category</a>:&#32;<span dir='ltr'><a href="../../../../articles/i/n/f/Category%7EInfo_templates_773e.html" class="new" title="Category:Info templates (page does not exist)">Info templates</a></span></div></div></div>	    <!-- end content -->
	    <div class="visualClear"></div>
	  </div>
	</div>
      </div>
      <div id="column-one">
	<div class="portlet:  .. _p-logo">
            <a style="background-image: url(../../../../misc/PhaserwikiLogo.png);"
	    href="http://www.phaser.cimr.cam.ac.uk/index.php/Phaser_Crystallographic_Software"
	    title="Phaser Crystallographic Software"></a>
	</div>
	<script type="text/javascript"> if (window.isMSIE55) fixalpha(); </script>
		<div class='portlet' id='p-site'>
	  <h5>site</h5>
	  <div class='pBody'>
	    <ul>
	    	      <li id="n-Home"><a href="../../../../index.html">Home</a></li>
	     	      <li id="n-News"><a href="../../../../articles/n/e/w/News.html">News</a></li>
	     	      <li id="n-Downloads"><a href="../../../../articles/d/o/w/Downloads.html">Downloads</a></li>
	     	      <li id="n-Contact"><a href="../../../../articles/c/o/n/Contact.html">Contact</a></li>
	     	      <li id="n-Events"><a href="../../../../articles/e/v/e/Events.html">Events</a></li>
	     	      <li id="n-Developers"><a href="../../../../articles/d/e/v/Developers.html">Developers</a></li>
	     	    </ul>
	  </div>
	</div>
		<div class='portlet' id='p-documentation'>
	  <h5>documentation</h5>
	  <div class='pBody'>
	    <ul>
	    	      <li id="n-Manuals"><a href="../../../../articles/m/a/n/Manuals.html">Manuals</a></li>
	     	      <li id="n-Molecular-Replacement"><a href="../../../../articles/m/o/l/Molecular_Replacement_a23a.html">Molecular Replacement</a></li>
	     	      <li id="n-Experimental-Phasing"><a href="../../../../articles/e/x/p/Experimental_Phasing_5400.html">Experimental Phasing</a></li>
	     	      <li id="n-Tutorials"><a href="../../../../articles/t/u/t/Tutorials.html">Tutorials</a></li>
	     	      <li id="n-FAQ"><a href="../../../../articles/f/a/q/FAQ_1fe9.html">FAQ</a></li>
	     	      <li id="n-Top-Ten-Tips"><a href="../../../../articles/t/o/p/Top_Ten_Tips_3fcd.html">Top Ten Tips</a></li>
	     	      <li id="n-Bugs"><a href="../../../../articles/b/u/g/Bugs.html">Bugs</a></li>
	     	      <li id="n-Publications"><a href="../../../../articles/p/u/b/Publications.html">Publications</a></li>
	     	      <li id="n-Licences"><a href="../../../../articles/l/i/c/Licences.html">Licences</a></li>
	     	      <li id="n-External-Links"><a href="../../../../articles/e/x/t/External_Links_ff0e.html">External Links</a></li>
	     	      <li id="n-Help"><a href="../../../../articles/c/o/n/Help%7EContents_22de.html">Help</a></li>
	     	    </ul>
	  </div>
	</div>
	<!--
	<div id="p-search" class="portlet">
	  <h5><label for="searchInput">Search</label></h5>
	  <div id="searchBody" class="pBody">
	    <form action="javascript:goToStatic(3):  .. _searchform"><div>
	      <input id="searchInput" name="search" type="text"
	        accesskey="f" value="" />
	      <input type='submit' name="go" class="searchButton:  .. _searchGoButton"
	        value="Go" />
	    </div></form>
	  </div>
	</div>
-->
	      </div><!-- end of the left (by default at least) column -->
      <div class="visualClear"></div>
      <div id="footer">
<!--
    <div id="f-poweredbyico"><a href="http://www.mediawiki.org/"><img src="../../../../skins/common/images/poweredby_mediawiki_88x31.png" alt="Powered by MediaWiki" /></a></div>	-->
<!-- date DATE Date -->
	<ul id="f-list">
	   Static <a href="http://www.phaser.cimr.cam.ac.uk/index.php/Phaser_Crystallographic_Software">Phaserwiki</a> 
